@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.button{
    // margin-top: 22.7px;
    height: 52px;
    box-shadow: 0px 4px 10px #CDCDCD66;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0px 20px;
    font-weight: bold;
}

.active{
    background-color: #3054D6;
    color: #FFFFFF;
}

.inActive{
    background-color: #EDF0F7;
    color: #2355FC;
    >:nth-child(n){
        opacity: 0.3;
    }
}